body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-color :#191b2b;
  color: #c7c9cf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field{
    background-color: #191b2b;
}
.card{
  background-color: #272a43;
  border-radius: 10px;
}

form{
  margin-top: 50px;
  padding: 20px;

}

form button{
  margin: 20px 0;
}

form h4{
  margin-bottom: 40px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}


